{% extends 'base.html.twig' %}
{% block title %} Test {% endblock %}
{% block body %}
    <h2>Entrer le fichier Excel</h2>

    <form enctype="multipart/form-data" method="GET" action="{{ path('xlsx') }}">
        <br><input type="file" name="file" value="file">
        <br><br>

        <input type="submit" value="Envoyer">

    </form>

    {{ form(form) }}
{% endblock %}