{% extends 'base.html.twig' %}
{% block title %} Test {% endblock %}
{% block body %}
    <h2>SA {{ MARCHE }}</h2>
    <br>
    {#<table border="1px">
            <tr>
                <th> Nom </th>
                <th> Niveau</th>
            </tr>
            {% for i in json %}
            <tr>
                <td>{{ i.nom }}</td>
                <td>{{ i.rep }}</td>
            </tr>
        {% endfor %}
        </table>#}
{% endblock %}